public/workflows/order-notifications.json
{
  "name": "FlowStack — Order Notifications",
  "nodes": [
    {
      "parameters": {
        "content": "## 🛍️ Order Notifications Automation\n\n**الإعداد:**\n1. في WooCommerce: Settings → Advanced → Webhooks → أضف Webhook للـ Order Created\n2. في **Set Config**: غيّر EVOLUTION_URL و INSTANCE_NAME و EVOLUTION_API_KEY\n3. في **Save to Sheets**: اربط Google Sheets\n4. غيّر YOUR_TELEGRAM_CHAT_ID\n5. فعّل الـ Workflow",
        "height": 220,
        "width": 340,
        "color": 3
      },
      "id": "sticky-001",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-380, -80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-001",
      "name": "Receive New Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "order-notification"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "order_id", "value": "={{ $json.body.id || $json.body.number }}", "type": "string" },
            { "id": "a2", "name": "customer_name", "value": "={{ $json.body.billing?.first_name + ' ' + $json.body.billing?.last_name || 'العميل' }}", "type": "string" },
            { "id": "a3", "name": "customer_phone", "value": "={{ $json.body.billing?.phone || '' }}", "type": "string" },
            { "id": "a4", "name": "order_total", "value": "={{ $json.body.total }}", "type": "string" },
            { "id": "a5", "name": "order_status", "value": "={{ $json.body.status }}", "type": "string" },
            { "id": "a6", "name": "EVOLUTION_URL", "value": "http://YOUR_SERVER_IP:8080", "type": "string" },
            { "id": "a7", "name": "INSTANCE_NAME", "value": "YOUR_INSTANCE_NAME", "type": "string" },
            { "id": "a8", "name": "EVOLUTION_API_KEY", "value": "YOUR_EVOLUTION_API_KEY", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-001",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.EVOLUTION_URL }}/message/sendText/{{ $json.INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.customer_phone }}\",\n  \"text\": \"✅ تم استلام طلبك!\\n\\nمرحباً {{ $json.customer_name }}\\nرقم الطلب: #{{ $json.order_id }}\\nالإجمالي: {{ $json.order_total }}\\n\\nسنُعلمك عند الشحن 📦\"\n}",
        "options": {}
      },
      "id": "http-001",
      "name": "WhatsApp to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -120]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🛍️ طلب جديد!\n\nالعميل: {{ $('Set Config').item.json.customer_name }}\nالهاتف: {{ $('Set Config').item.json.customer_phone }}\nرقم الطلب: #{{ $('Set Config').item.json.order_id }}\nالإجمالي: {{ $('Set Config').item.json.order_total }}\nالحالة: {{ $('Set Config').item.json.order_status }}",
        "additionalFields": {}
      },
      "id": "telegram-001",
      "name": "Notify Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [440, 40],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Orders", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ new Date().toLocaleString('ar-EG') }}",
            "order_id": "={{ $('Set Config').item.json.order_id }}",
            "customer": "={{ $('Set Config').item.json.customer_name }}",
            "phone": "={{ $('Set Config').item.json.customer_phone }}",
            "total": "={{ $('Set Config').item.json.order_total }}",
            "status": "={{ $('Set Config').item.json.order_status }}"
          }
        },
        "options": {}
      },
      "id": "sheets-001",
      "name": "Log Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.3,
      "position": [660, -40],
      "credentials": { "googleSheetsOAuth2Api": { "id": "", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"ok\"}" },
      "id": "respond-001",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, -40]
    }
  ],
  "connections": {
    "Receive New Order": { "main": [[{"node": "Set Config", "type": "main", "index": 0}]] },
    "Set Config": { "main": [[{"node": "WhatsApp to Customer", "type": "main", "index": 0}, {"node": "Notify Team", "type": "main", "index": 0}]] },
    "WhatsApp to Customer": { "main": [[{"node": "Log Order", "type": "main", "index": 0}]] },
    "Notify Team": { "main": [[{"node": "Log Order", "type": "main", "index": 0}]] },
    "Log Order": { "main": [[{"node": "Respond OK", "type": "main", "index": 0}]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
