public/workflows/website-monitor.json
{
  "name": "FlowStack — Website Monitor",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 Website Monitor with WhatsApp Alert\n\n**الإعداد:**\n1. في **Set Config**: غيّر WEBSITE_URL و EVOLUTION_URL و INSTANCE_NAME و API_KEY\n2. غيّر ALERT_PHONE لرقم هاتفك (مع كود الدولة، بدون +)\n3. غيّر YOUR_TELEGRAM_CHAT_ID\n4. غيّر فترة الفحص في Schedule Trigger (افتراضي كل 5 دقائق)\n5. فعّل الـ Workflow",
        "height": 220,
        "width": 340,
        "color": 1
      },
      "id": "sticky-001",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-380, -80]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "id": "schedule-001",
      "name": "Check Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "WEBSITE_URL", "value": "https://YOUR_WEBSITE.com", "type": "string" },
            { "id": "a2", "name": "ALERT_PHONE", "value": "201071994768", "type": "string" },
            { "id": "a3", "name": "EVOLUTION_URL", "value": "http://YOUR_SERVER_IP:8080", "type": "string" },
            { "id": "a4", "name": "INSTANCE_NAME", "value": "YOUR_INSTANCE_NAME", "type": "string" },
            { "id": "a5", "name": "EVOLUTION_API_KEY", "value": "YOUR_EVOLUTION_API_KEY", "type": "string" },
            { "id": "a6", "name": "TELEGRAM_CHAT_ID", "value": "YOUR_TELEGRAM_CHAT_ID", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-001",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.WEBSITE_URL }}",
        "options": { "timeout": 10000, "response": { "response": { "fullResponse": true } } }
      },
      "id": "http-001",
      "name": "Check Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "typeValidation": "loose" },
          "conditions": [
            { "id": "c1", "leftValue": "={{ $json.statusCode }}", "rightValue": 200, "operator": { "type": "number", "operation": "equals" } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-001",
      "name": "Is Site Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').item.json.EVOLUTION_URL }}/message/sendText/{{ $('Set Config').item.json.INSTANCE_NAME }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Set Config').item.json.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Set Config').item.json.ALERT_PHONE }}\",\n  \"text\": \"🔴 تنبيه! الموقع متوقف!\\n\\n{{ $('Set Config').item.json.WEBSITE_URL }}\\n\\nالوقت: {{ new Date().toLocaleString('ar-EG') }}\\n\\nتحقق منه فوراً!\"\n}",
        "options": {}
      },
      "id": "http-002",
      "name": "Send WhatsApp Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 120]
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Config').item.json.TELEGRAM_CHAT_ID }}",
        "text": "=🔴 تنبيه! الموقع متوقف!\n\n{{ $('Set Config').item.json.WEBSITE_URL }}\nالوقت: {{ new Date().toLocaleString('ar-EG') }}",
        "additionalFields": {}
      },
      "id": "telegram-001",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 260],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Check Every 5 Minutes": { "main": [[{"node": "Set Config", "type": "main", "index": 0}]] },
    "Set Config": { "main": [[{"node": "Check Website", "type": "main", "index": 0}]] },
    "Check Website": { "main": [[{"node": "Is Site Up?", "type": "main", "index": 0}]] },
    "Is Site Up?": {
      "main": [
        [],
        [{"node": "Send WhatsApp Alert", "type": "main", "index": 0}, {"node": "Send Telegram Alert", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
